*{
  border:0px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  
}

body{
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

nav{
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 75px;
  color: white;
  float: left;
  padding-top: 50px;
}
#labelId{
  visibility: visible;
}

#userName{
  visibility: visible;
  width: 300px;
  height: 40px;
  text-align: center;
  align-self: center;
}

#btn{
  align-self: center;
  visibility: visible;
  width: 120px;
  height: 40px;
  background-color: rgba(20, 31, 131, 0.363);
  transition: 0.2s ease;
}

#btn2{
  align-self: center;
  visibility: visible;
  display: none;
  width: 120px;
  height: 40px;
  background-color: rgba(20, 31, 131, 0.363);
  transition: 0.2s ease;
}

#btn:hover, #btn2:hover{
  background-color: black;
  color: #fff;  
}

#wlcm{
  visibility: hidden;
}
.cont1{
  width: 350px;
  height: 500px;
  border-radius: 30px 0 0 30px;
  display: flex;
  justify-content: center;
}

.join{
  background-color: rgba(255, 255, 255, .1);
  text-align: center;
  flex-flow: column wrap;
}
.h {
  margin: 10px;
}

.hide{
  visibility: visible;
}

.mess{
  flex-flow: row wrap;
  position: relative;
}


.mess ul{
  height: 450px;
  width: 100%;
  /* border: 1px solid white; */
  background-color: rgba(255, 255, 255, .2);
  overflow-x: hidden;
  overflow-y: scroll;
}

#sendMess{
  background-color: rgba(30, 27, 27, 0.767);
  color: black;
}

.mess ul li{
  width: 60%;
  border: 1px solid white;
  margin: 5px;
  border-radius: 5px;
}

#cMB{
  height: 50px;
  width: 100%;
  background-color: aliceblue;
  position:absolute;
  bottom: 0px;
}

#cMB input{
  height: inherit;
  width: 80%;
}
#cmb button{
  height: inherit;
  width: 20%;
}


#ifDataNotEqual{
  visibility: hidden;
}
